.DS_Store
*/.build
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
telegram/.swiftpm/xcode/xcshareddata/xcschemes/LandinhoBot.xcscheme
telegram/.swiftpm/xcode/xcshareddata/xcschemes/LandinhoBot.xcscheme
